# Do you want to send email notifications and to where? and from whom?
#
# framework.parameters.usemail=some.smtp.host
# framework.parameters.usemail.to=some@mail.address.net
# framework.parameters.usemail.from=me@some.host

